[submodule "lib/curl"]
	path = lib/curl
	url = https://github.com/cujojs/curl
[submodule "lib/wire"]
	path = lib/wire
	url = https://github.com/cujojs/wire
[submodule "lib/when"]
	path = lib/when
	url = https://github.com/cujojs/when
[submodule "lib/aop"]
	path = lib/aop
	url = https://github.com/cujojs/aop
[submodule "lib/cola"]
	path = lib/cola
	url = https://github.com/cujojs/cola
[submodule "lib/poly"]
	path = lib/poly
	url = https://github.com/cujojs/poly
